body {
  background: rgb(190, 186, 185);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

.wrapper-banner {
  display: flex;
  background: rgb(130, 123, 123);
  position: relative;
  margin-top: 10px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #1e2220;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  height: 60px
}

.title {

  width: 102px;
}

.status {

  width: 440px;
}

.viewers {

  width: 95px;
}

.online {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  bottom: 30px;
  right: 0;

  cursor: hand;
  cursor: pointer;
}

.offline {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  bottom: 10px;
  right: 0;

  cursor: hand;
  cursor: pointer;
}

.all {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  bottom: 50px;
  right: 0;
  cursor: hand;
  cursor: pointer;

}

.circulo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.selector:hover{
  width: 45px;
  transition: width 0.2s linear;
  cursor: pointer;

}
.active, .active:hover{

  width: 45px;
  height: 20px;

  background: rgb(130, 123, 123);
  cursor: hand;
  cursor: pointer;
  transition: width 0.4s linear;
}
.selector {
  width: 20px;
  height: 20px;
  background-color: rgb(130, 123, 123);
  transition: width 0.4s linear;
}

.all > .circulo {
  background-color: #000;
  margin: 0 auto;
}
.online > .circulo {
  background-color: #00ff00;
  margin: 0 auto;
}
.offline > .circulo {
  background-color: #ff0000;
}

h3 {
  text-align: left;
}
.all:hover:after {
  content: 'ALL';
}
.online:hover:after {
  content: 'ON';
}
.offline:hover:after {
  content: 'OFF';
}
