body {
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}

.wrapper-banner {
  display: flex;
  background: rgb(255, 0, 0);
  position: relative;
  margin-top: 10px;
  height: 90px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #50a373;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  height: 60px
}

.title {
  background: rgb(143, 34, 34);
  width: 102px;
}

.status {
  background: rgb(205, 28, 113);
  width: 440px;
}

.viewers {
  background: rgb(32, 25, 2);
  width: 95px;
}

.online {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 20px;
  height: 20px;
  bottom: 30px;
  right: 0;
  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}

.offline {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 0;
  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}

.all {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  bottom: 50px;
  right: 0;
  cursor: hand;
  cursor: pointer;
  background-color: rgb(210, 113, 36)
}

.circulo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.active, .selector:hover{
  width: 45px;
  transition: width 0.2s linear;
  cursor: pointer;
}
.hover {

  width: 42px;
  height: 20px;

  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}

.all > .circulo {
  background-color: #000;
  margin: 0 auto;
}
.online > .circulo {
  background-color: #00ff00;
  margin: 0 auto;
}

h3 {
  text-align: left;
}
