body {
  background: rgb(0, 0, 0);
  color: white;
}

.wrapper-banner {
  display: flex;
  background: rgb(255, 0, 0);
  position: relative;
  margin-top: 10px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #50a373;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  height: 60px
}

.title {
  background: rgb(143, 34, 34);
  width: 102px;
}

.status {
  background: rgb(205, 28, 113);
  width: 440px;
}

.viewers {
  background: rgb(32, 25, 2);
  width: 95px;
}

.online {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 30px;
  right: 0;
  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}

.offline {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 0;
  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}

.hover {

  width: 42px;
  height: 20px;

  background: rgb(0, 232, 255);
  cursor: hand;
  cursor: pointer;
}
